.gridworld {
	position: relative;
	margin: auto;
}

.gridworld .tile {
    position: absolute;
    background: url('gridworld.png') no-repeat;
}

.gridworld .robot{
    width: 32px;
    height: 32px;
    position: absolute;
    background: url('gridworld.png') no-repeat 0px -64px;
}

.gridworld .tile.wall  { background-position: -32px 0; }
.gridworld .tile.small { background-position: -32px 0; }
.gridworld .tile.pit   { background-position: -64px 0; }
.gridworld .tile.start { background-position: -96px 0; }
.gridworld .tile.bandit{ background-position: -128px 0; }
.gridworld .tile.sand  { background-position: -160px 0; }
.gridworld .tile.big   { background-position: -192px 0; }
.gridworld .tile.medium{ background-position: -224px 0; }
.gridworld .tile.small { background-position: -256px 0; }

.gridworld .tile.ovl  { background-position: 32px 32px; }
.gridworld .tile.ovl.N{ background-position: -00px -32px; }
.gridworld .tile.ovl.E{ background-position: -32px -32px; }
.gridworld .tile.ovl.S{ background-position: -64px -32px; }
.gridworld .tile.ovl.W{ background-position: -96px -32px; }

.gridworld .robot.N{ background-position: -00px -64px; }
.gridworld .robot.E{ background-position: -32px -64px; }
.gridworld .robot.S{ background-position: -64px -64px; }
.gridworld .robot.W{ background-position: -96px -64px; }