/*Mini Reset*/
html,body,div,form,fieldset,legend,label{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}th,td{text-align:left;vertical-align:top;}h1,h2,h3,h4,h5,h6,th,td,caption{font-weight:normal;}img{border:0;}


.bar {
	width: 300px;
	height: 100%;
	background: #eee;
}

.main {
	position: absolute;
	width: 560px; height: 100%;
	left: 300px; top: 0px;
	background: #ddd;
}

.editor {
	position: absolute;
	top: 0px; bottom: 80px;
	width: 100%;
	overflow: scroll;
}

.editor .block {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-color: rgba(0,0,0, 0.6);
	z-index: 1000;
	cursor: wait;
}

button.run{
	position: absolute;
	margin: 20px 0;
	width: 100%;
	height: 40px;
	bottom: 0px;
}



.product {
	position: absolute;
	left: 860px; top: 0px;
	width: 560px; height: 100%;
}

.product .panels{
	height: 600px;
}

.product .buttons{
	height: 30px;
	background: black;
}

.product .console{
	height: auto;
	min-height: 100px;
	position: absolute;
	top: 630px; bottom: 0; left: 0; right: 0;
	color: white;
	background: black;
	white-space: pre-wrap;
}

code {
	white-space: pre;
}